.container-footer {
    background-color: var(--color-quaternary);
    color: var(--color-quinary);
    text-align: center;
    font-size: 1.6rem;
    width: 100%;
    box-sizing: border-box;
}

.container-footer tr td {
    font-family: cursive;
    padding: 10px 0;
    border-radius: 0 0 1rem 1rem;
}
