.container-form-head {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.table-title {
    font-size: 2rem;
    font-weight: bold;
}

.item {
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-quinary);
    background-color: var(--color-quaternary);
    box-sizing: border-box;
    width: 20rem;
}

@media (max-width:1281px) {
    
    .table-title {
        font-size: 1.9rem;
    }
    
    .item {
        padding: 1rem;
        font-size: 1.4rem;
        width: 15rem;
    }
}

@media (max-width:1025px) {
    .table-title {
        font-size: 1.8rem;
    }
    
    .item {
        padding: 1rem;
        font-size: 1.2rem;
        width: 12rem;
    }
}

@media (max-width:801px) {
    .table-title {
        font-size: 1.7rem;
    }
    
    .item {
        font-size: 1.2rem;
        height: 6rem;
        width: 8.7rem;
    }
}

@media (max-width:600px) {
    .table-title {
        font-size: 1.7rem;
    }
    
    .item {
        font-size: 1rem;
        height: 6rem;
        width: 6.5rem;
    }  
}

@media (max-width:480px) {}

@media (max-width:320px) {
    .table-title {
        font-size: 1.4rem;
    }
    
    .item {
        font-size: 0.8rem;
        height: 6rem;
        width: 4.8rem;
    }
}