.form-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.content-item {
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-quinary);
    background-color: var(--color-quaternary);
    width: 20rem;
}

.content-earn {
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-quinary);
    background-color: var(--color-secondary);
    width: 20rem;
}

.content-final {
    display: flex;
    justify-content: center;
    background-color: var(--color-green);
    border-radius: 1rem;
    color: var(--color-quinary);
    padding: 1rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 5rem;
    width: 20rem;
}

@media (max-width:1281px) {
    .content-item {
        padding: 1rem;
        font-size: 1.4rem;
        width: 15rem;
    }
    
    .content-earn {
        padding: 1rem;
        font-size: 1.4rem;
        width: 15rem;
    }
    
    .content-final {
        border-radius: 1rem;
        padding: 1rem;
        font-size: 1.4rem;
        margin-top: 5rem;
        width: 15rem;
    }
}

@media (max-width:1025px) {
    .content-item {
        padding: 1rem;
        font-size: 1.2rem;
        width: 12rem;
    }
    
    .content-earn {
        padding: 1rem;
        font-size: 1.2rem;
        width: 12rem;
    }
    
    .content-final {
        border-radius: 1rem;
        padding: 1rem;
        font-size: 1.2rem;
        margin-top: 5rem;
        width: 12rem;
    }
}

@media (max-width:801px) {
    .content-item {
        padding: 1rem;
        font-size: 1.2rem;
        width: 8.7rem;
    }
    
    .content-earn {
        padding: 1rem;
        font-size: 1.2rem;
        width: 8.7rem;
    }
    
    .content-final {
        border-radius: 1rem;
        font-size: 1.4rem;
        height: 4rem;
        margin-top: 5rem;
        width: 12rem;
    }
}

@media (max-width:600px) {
    .content-item {
        font-size: 1rem;
        width: 6rem;
    }
    
    .content-earn {
        font-size: 1rem;
        width: 6rem;
    }
    
    .content-final {
        width: 12rem;
    } 
}

@media (max-width:480px) {
    .content-item {
        font-size: 1rem;
        height: 5rem;
        width: 6.5rem;
    }
    
    .content-earn {
        font-size: 0.8rem;
        height: 5rem;
        width: 6rem;
    }
}

@media (max-width:320px) {
    .content-item {
        font-size: 1rem;
        height: 6rem;
        width: 6rem;
    }
    
    .content-earn {
        font-size: 1.1rem;
        height: 6rem;
        width: 5rem;
    }
    
    .content-final {
        font-size: 1.2rem;
        height: 3.5rem;
        width: 8rem;
    }
}