.footer {
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-quinary);
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    height: 5%;
}